<div class="d-flex justify-content-between py-4">
    <div class="d-flex">
        <p class="text-danger border p-2 ">Delete Tokens</p>
        <p class="text-success ms-5 border p-2 ">Update Tokens</p>
    </div>
    <div>
        <a  class="btn btn-outline-primary" routerLink="/add-task">Add New task</a>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3 ">
        <h6 class="m-0 fw-bold text-primary">Tasks</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
        <table class="table table-striped border">
            <thead class="">
            <tr>
                <th scope="col">#Num</th>
                <th scope="col">description</th>
                <th scope="col">startDate</th>
                <th scope="col">endDate</th>
                <th scope="col">assignedTo</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
                @for (task of tasks$ |async; track $index) {
                    <tr>
                        <td>{{task.id}}</td>
                        <td>{{task.description}}</td>
                        <td>{{task.startDate}}</td>
                        <td>{{task.endDate}}</td>
                        <td>{{task.assignedTo}}</td>
                        <td>
                            <!-- <button class="btn btn-primary">Assign</button> -->
                            <div class="dropdown d-flex" >
                                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Assign
                                </button>
                                <ul class="dropdown-menu">
                                    @for (user of users$ |async; track $index) {
                                    <li><button class="dropdown-item btn" href="#" (click)="assignTo(user.id,task.id)">{{user.userName}}</button></li>
                                    }
                                </ul>
                                <button class="btn btn-danger ms-1" type="button">
                                Delete
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody> 
        </table>
    </div>
</div>
</div>