<nav id="sidebarMenu" class="collapse d-lg-block sidebar mt-3 collapse bg-white shadow">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <!-- <a  routerLinkActive="active btn shadow" routerLink="/" class="btn list-group-item list-group-item-action py-3 ripple " aria-current="true">
          <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main dashboard</span>
        </a> -->
        <a   routerLinkActive="active btn shadow" routerLink="/tasks" class="btn list-group-item list-group-item-action py-3 ripple ">
            <i class="fa-solid fa-list-check me-3"></i><span>Tasks</span>
        </a>
        <a   routerLinkActive="active btn shadow" routerLink="/users" class="btn list-group-item list-group-item-action py-3 ripple ">
          <i class="fa-solid fa-user me-4"></i><span>Users</span>
        </a>
        <a routerLinkActive="active btn shadow" routerLink="/tags" class="btn list-group-item list-group-item-action py-3 ripple ">
            <i class="fa-solid fa-tag me-3"></i><span>Tags</span>
        </a>
      </div>
    </div>
  </nav>
  